name: TITANIUM MASTER BUILD
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install --user buildozer cython==0.29.33 virtualenv

      - name: Build with Buildozer
        run: |
          export PATH=$PATH:$HOME/.local/bin
          # Lisenziyaları əvvəlcədən təsdiqləyirik
          yes | buildozer android debug
        env:
          ACCEPT_SDK_LICENSE: "1"

      - name: Upload Finished APK
        uses: actions/upload-artifact@v4
        with:
          name: Titanium-Nexus-v1
          path: bin/*.apk
          
